<div class="cats_tabs">
    <ul>
        <li><%= link_to t('spravochnik.categories') %></li>
        <li><%= link_to t('spravochnik.abc') %></li>
        <li><%= link_to t('spravochnik.tags') %></li>
    </ul>
</div>
