<div class="container">
    <ul class="breadcrumb">
        <li><%= link_to t('health_list.title'), healthcats_path %> <span class="divider">/</span></li>
        <% if not @healthcat.parent_healthcat.blank? %>
            <li><%= link_to @healthcat.parent_healthcat.name, @healthcat.parent_healthcat %> <span class="divider">/</span></li>
        <% end %>
        <li class="active"><%= @healthcat.name %></li>
    </ul>
</div>
