<div>
    <ul class="breadcrumb">
        <li><%= link_to t('healthcats.shared.title'), healthcats_path %> <span class="divider">/</span></li>
        <% if not @article.categorizable.parent.blank? %>
            <li><%= link_to @article.categorizable.parent.name, @article.categorizable.parent %> <span class="divider">/</span></li>
        <% end %>
        <li><%= link_to @article.categorizable.name, healthcat_subcat_path(@article.categorizable.parent, @article.categorizable) %> <span class="divider">/</span></li>
        <li class="active"><%= @article.name %></li>
    </ul>
</div>
