<% content_for :title do %>
    <%= t('.title') %>
<% end %>

<%= render 'shared/healthcats/title_menu' %>

<div class="container-fluid">
        <% if @articles.blank? %>
            <p><%= t('shared.no_info') %></p>
        <% else %>
            <ul class="unstyled">
                <% @articles.each do |article| %>
                    <li><%= link_to article.name, article %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
