<!DOCTYPE html>
<html>
    <head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Parallax test</title>
        <link href="/assets/parallax.css?body=1" media="all" rel="stylesheet" type="text/css" />
        <%= javascript_include_tag "application" %>
    </head>
    <body>
        <section id="home" data-type="background" data-speed="5">
            <article>I am absolute positioned</article>
        </section>
        <section id="about" data-type="background" data-speed="5">
            <article>Simple Parallax Scroll</article>
        </section>
    </body>
</html>
