<!DOCTYPE html>
<html>
    <head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Parallax test</title>
        <link href="/assets/parallax.css?body=1" media="all" rel="stylesheet" type="text/css" />
        <%= javascript_include_tag "application" %>
    </head>
    <body>
        <section id="day_sky" data-type="background" data-speed="3">
            <div id="day_forest" data-type="background" data-speed="2.5"></div>
            <div id="day_trees" data-type="background" data-speed="2"></div>
            <div id="day_man"></div>
            <div id="day_ducks" data-type="background" data-speed="4"></div>
        </section>
    </body>
</html>
