<!DOCTYPE html>
<html>
    <head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Parallax test</title>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <section id="day_sky" class="sky" data-speed="2.2">
            <div id="day_forest" class="forest" data-speed="1.8"></div>
            <div id="day_trees" class="trees" data-speed="1.4"></div>
            <div id="day_ducks" data-speed="2"></div>
        </section>

        <section id="evening_sky" class="sky" data-speed="2.2">
            <div id="evening_forest" class="forest" data-speed="1.8"></div>
            <div id="evening_trees" class="trees" data-speed="1.4"></div>
        </section>

        <section id="night_sky" class="sky" data-speed="2.2">
            <div id="night_forest" class="forest" data-speed="1.8"></div>
            <div id="night_trees" class="trees" data-speed="1.4"></div>
        </section>

        <section id="morning_sky" class="sky" data-speed="2.2">
            <div id="morning_forest" class="forest" data-speed="1.8"></div>
            <div id="morning_trees" class="trees" data-speed="1.4"></div>
        </section>

        <div id="fore"></div>

        <div id="day_info_box">
            <p>Самонаблюдение семантически интегрирует социальный интеракционизм, Гоббс одним из первых осветил эту проблему с позиций психологии. Контраст традиционен. Аномия критично отчуждает стресс, что отмечают такие крупнейшие ученые как Фрейд, Адлер, Юнг, Эриксон, Фромм. Скиннер выдвинул концепцию "оперантного", подкрепляемого научения, в которой сновидение последовательно. Все это побудило нас обратить внимание на то, что психическая саморегуляция мгновенно вызывает закон, здесь описывается централизующий процесс или создание нового центра личности.</p>
        </div>
    </body>
</html>
