<% content_for :title do %>
    <%= @healthcat.name %>
<% end %>

<div id="page_content">
    <h2><%= @healthcat.name %></h2>

    <div class="content">
        <%= render "healthcat" %>
    </div>
</div>
