html, body {
    padding: 0;
    margin: 0;
    max-height: 1204px;
    overflow-y: hidden;
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}
.big_block {
    height: 100%;
    max-height: 1204px;
    width: 700px;
    position: absolute;
    padding: 125px 150px;
}
#after_day { left: 1366px; } 
#after_evening { left: 3732px; }
#after_night { left: 6098px; } 

.object {
    width: 1366px;
    position: absolute;
    height: 100%;
}

#clouds { background: url(/assets/01_Day_00_Clouds.png) 1200px 50% no-repeat fixed; }
#swans { background: url(/assets/02_Evening_00_Swans.png) 5998px 50% no-repeat fixed; }
#moon { background: url(/assets/03_Night_00_Moon.png) 5232px 50% no-repeat fixed; }
#ufo { background: url(/assets/03_Night_00_UFO.png) 10664px 50% no-repeat fixed; }
#lilies { height: 104px; width: 277px; background: url(/assets/04_Morning_00_Lilies.png) 0 0 no-repeat; position: absolute; left: 100px; }
#frog { height: 165px; width: 135px; background: url(/assets/04_Morning_00_Frog.png) 0 0 no-repeat; position: absolute; right: 266px; }

.sky {
    height: 100%;
    max-height: 1204px;
    width: 1366px;
    position: absolute;
    -moz-background-size: auto 105%;
    -o-background-size: auto 105%;
    -webkit-background-size: auto 105%;
    background-size: auto 105%;
}

#day_sky {
    background: url(/assets/01_Day_01_Sky.png) 0 50% repeat-x fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/01_Day_01_Sky.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/01_Day_01_Sky.png', sizingMethod='scale')";
}
#evening_sky {
    background: url(/assets/02_Evening_01_Sky.png) 0 50% repeat-x fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/02_Evening_01_Sky.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/02_Evening_01_Sky.png', sizingMethod='scale')";
    left: 2366px;
}
#night_sky {
    background: url(/assets/03_Night_01_Sky.png) 0 50% repeat-x fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/03_Night_01_Sky.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/03_Night_01_Sky.png', sizingMethod='scale')";
    left: 4732px;
}
#morning_sky {
    background: url(/assets/04_Morning_01_Sky.png) 0 50% repeat-x fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/04_Morning_01_Sky.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/04_Morning_01_Sky.png', sizingMethod='scale')";
    left: 7098px;
}

.forest {
    height: 158px;
    width: 1366px;
    position: absolute;
}
#day_forest {
    background: url(/assets/01_Day_02_Forest.png) 0 0 repeat-x fixed;
}
#evening_forest {
    background: url(/assets/02_Evening_02_Forest.png) 0 0 repeat-x fixed;
}
#night_forest {
    height: 185px;
    background: url(/assets/03_Night_02_Forest.png) 0 0 repeat-x fixed;
}
#morning_forest {
    background: url(/assets/04_Morning_02_Forest.png) 0 0 repeat-x fixed;
}

.trees {
    width: 1366px;
    position: absolute;
}
#day_trees {
    height: 266px;
    background: url(/assets/01_Day_03_Trees.png) 0 0 no-repeat fixed;
}
#evening_trees {
    height: 392px;
    background: url(/assets/02_Evening_03_Trees.png) 2913px 0 no-repeat fixed; 
}
#night_trees {
    height: 391px;
    background: url(/assets/03_Night_03_Trees.png) 6373px 0 no-repeat fixed;
}
#morning_trees {
    height: 280px;
    background: url(/assets/04_Morning_03_Trees.png) 9286px 0 no-repeat fixed;
}

.fore {
    height: 586px;
    position: absolute;
    background: url(/assets/Fore.png) 0 0 no-repeat;
    width: 1366px; 
}
#evening_fore { background-position: -1366px 0; }
#night_fore { background-position: -2732px 0; }
#morning_fore { background-position: -4098px 0; }

#day_ducks {
    height: 212px;
    position: absolute;
    background: url(/assets/01_Day_00_Ducks.png) -800px 0 no-repeat fixed;
    width: 1366px;
}

.mini_block {
    position: absolute;
    top: 55%;
    display: none;
}
#day_info { left: 400px; }
#evening_info { left: 2516px; }
#night_info { left: 5152px; }
.mini_block .text { 
    padding: 7px 10px; 
    color: #005DBA;
    font-size: 12px;
    line-height: 17px;
    background-color: white;
    opacity: 0.87;
    filter: alpha(opacity=87);
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.fixed {
    position: fixed;
    left: 0;
}
#top_info {
    width: 100%;
    height: 194px;
    background: url(/assets/Logo.png) 0 0 no-repeat;
    text-align: right;
    top: 20px;
    left: 20px;
}
#top_info p { 
    padding-right: 60px; 
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px #06C;
}

#buttons_panel {
    position: fixed;
    bottom: 30px;
    left: 20px;
}
#buttons_panel ul {
    list-style-type: none;
    margin: 0;
}
#buttons_panel a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px 3px #06C;
    cursor: pointer;
}
