html, body {
    padding: 0;
    margin: 0;
    max-height: 366px;
    overflow-y: hidden;
}
.sky {
    height: 768px;
    width: 1366px;
    position: absolute;
}
#day_sky {
    background: url(/assets/01_Day_01_Sky.png) repeat-x fixed;
    background-position: 0 50%; 
}
#evening_sky {
    background: url(/assets/02_Evening_01_Sky.png) 0 50% repeat-x fixed;
    left: 1366px;
}
#night_sky {
    background: url(/assets/03_Night_01_Sky.png) 0 50% repeat-x fixed;
    left: 2732px;
}
#morning_sky {
    background: url(/assets/04_Morning_01_Sky.png) 0 50% repeat-x fixed;
    left: 4098px;
}

.forest {
    height: 158px;
    width: 1366px;
    position: absolute;
    top: 150px;
}
#day_forest {
    background: url(/assets/01_Day_02_Forest.png) 0 150px repeat-x fixed;
}
#evening_forest {
    background: url(/assets/02_Evening_02_Forest.png) 0 150px repeat-x fixed;
}
#night_forest {
    height: 185px;
    background: url(/assets/03_Night_02_Forest.png) 0 150px repeat-x fixed;
}
#morning_forest {
    background: url(/assets/04_Morning_02_Forest.png) 0 150px repeat-x fixed;
}

.trees {
    width: 1366px;
    position: absolute;
}
#day_trees {
    height: 266px;
    background: url(/assets/01_Day_03_Trees.png) 0 159px no-repeat fixed;
    top: 159px;
}
#evening_trees {
    height: 391px;
    background: url(/assets/02_Evening_03_Trees.png) 1366px 33px no-repeat fixed;
    top: 33px;
}
#night_trees {
    height: 404px;
    background: url(/assets/03_Night_03_Trees.png) 3279px 34px no-repeat fixed;
    top: 34px;
}
#morning_trees {
    height: 182px;
    background: url(/assets/04_Morning_03_Trees.png) 5192px 249px no-repeat fixed;
    top: 249px;
}

#fore {
    height: 568px;
    position: absolute;
    background: url(/assets/Fore.png) 0 0 no-repeat;
    top: 55px;
    width: 5464px; 
}
#day_ducks {
    height: 212px;
    position: absolute;
    background: url(/assets/01_Day_00_Ducks.png) -800px 582px no-repeat fixed;
    top: 582px;
    width: 1366px;
    z-index: 5;
}

.info_box {
    height: 80%;
    top: 5%;
    position: fixed;
    width: 400px;
    background-color: white;
    opacity: 0.87;
    filter: alpha(opacity=87);
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 1.8em 1em; 
    display: none;
    left: 450px;
    overflow-y: scroll;
}
