@import "twitter/bootstrap";

.add-margin-bottom (@height: @baseFontSize) {
    margin-bottom: @height;
}

.inline_title {
    display: inline-block;
}

.cats_tabs {
    padding: @baseFontSize 0;
    ul {
        margin: 0;
    }    
}

.form_title {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: @gridGutterWidth;
}

.alert {
    h5 { margin-bottom: @baseFontSize/3; }
    ul { margin-bottom: 0; }
}

.header {
    margin-bottom: @gridGutterWidth/2; 
}

.show_group {
    margin-bottom: @baseFontSize*2;
}

.control_panel {
    line-height: @baseFontSize*2;
    .add-margin-bottom(@baseFontSize/2);
}

.navbar-inner {
    .border-radius(0);
}

.no_link, .no_link:hover, .no_link:active {
    color: #333;
    text-decoration: none;
}

td.modify {
    vertical-align: top;
    div { margin: 10px 0 0 @gridGutterWidth/3; }
}
