<% content_for :title do %>
    <%= t('.title') %>
<% end %>

<div id="page_content">
    <div class="header">
    </div>

    <div class="content">
        <% if @categories.blank? %>
            <p><%= t('shared.no_info') %></p>
        <% else %>
            <% @categories.each_slice((@categories.size/3.0).ceil) do |slice| %>
                <ul class="cat_column">
                    <% slice.each do |cat| %>
                        <li>cat.name</li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    </div>
</div>
